ul li {
  padding: 10px;
  transition: background-color 0.3s ease;
}

ul li:hover {
  background-color: rgb(140 206 247 / 47%);
  font-weight: 500;
}

.icon {
  transition: color 0.3s ease;
}

li:hover .icon {
  color: white; 
}

.iconContainer {
  transition: background-color 0.3s ease;
  background-color: rgb(0 114 236 / 18%);
}

li:hover .iconContainer {
  background-color: rgb(0 103 216);
}


/* .gradient_bg {
    backdrop-filter: blur(120px);
    background: linear-gradient(111.84deg, rgba(6, 11, 38, .94) 59.3%, rgba(26, 31, 55, 0))

} */

