@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins','Inter', sans-serif;
  box-sizing: border-box;
  background: url('/public/background-1.jpg') no-repeat top fixed;
  background-size: cover;
}
